@import 'variables';

.toggle {
  background: transparent;
  background-color: transparent;
  border-radius: $toggle-height;
  cursor: pointer;
  visibility: hidden;
  height: $toggle-height;
  width: $toggle-width;
  position: absolute;
  top: 20%;
  left: 80%;
  z-index: 2;
  &::before, &::after { // track, slider
    content: "";
    display: block;
    transition: 0.1s all ease-in-out;
    visibility: visible;
  }
  &::before { // track
    background: transparent;
    border: $border-width solid $dark;
    border-radius: $toggle-height;
    height: inherit;
    width: inherit;
  }
  &::after { // slider
    background: $dark;
    border-radius: $toggle-height - ($border-width * 4);
    height: $toggle-height - ($border-width * 4);
    width: $toggle-height;
    position: absolute;
    top: $border-width * 2;
    left: $border-width * 2;
  }
  &:checked { 
    
    &::before { 
      background: $dark;
      border: $border-width solid $light;
    }
    &::after { 
      background: $light;
      left: $toggle-width - $toggle-height - $border-width * 2;
    }
    ~ .bg {
      background: $dark;
    }
  }
}
/*BTN DARK MODE*/

.dark{ 
  background-color: #343535; 
}
.filter_category{
  width: 30vw;
  top: 8em;
} 
.container { 
  margin-top: 110px !important;
  .h4{
    color: #8B8E8E;
  }
  .h1{
    color: #8B8E8E;
  }
  .card {
    border: none;
    outline: none;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 7px 11px 12px -8px rgba(0,0,0,0.75);

    .info {
      line-height: 17px;
      .discount_text {
        font-size: 1em;
        font-weight: 700;
        color: black;
        margin-top: 2em;
        margin-bottom: 1.5em;
      }
      .discount_number {
        font-size: 2.5em;
        color: black;
      }
    }
    .bi-star-fill {
      color: #fbc02d;
    }
    .bi-star-half{
      color: #fbc02d;
    }
    .costo span {
      color: #fb3531;
      font-weight: bold;
      font-size: 20px;
    }
    .btnProd {
      background: #dc3545;
    }
    .btnProd:hover {
      opacity: 0.8;
    }
    .cursor {
      cursor: pointer;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
    }
  }
  .card:hover {
    transform: translateY(-20px);
    transition: transform 0.3s;
  }
}

@media (max-width: 750px) {
  .filter_category{
    top: 12em;
    left: 27%;
    width: 45vw;
  }
}
@media (max-width: 375px) {
  .toggle{
    position: absolute;
    top: 30%;
  }
}
