.toggle {
  background: transparent;
  background-color: transparent;
  border-radius: 20px;
  cursor: pointer;
  visibility: hidden;
  height: 20px;
  width: 46.6px;
  position: absolute;
  top: 20%;
  left: 80%;
  z-index: 2;
}

.toggle::before, .toggle::after {
  content: "";
  display: block;
  -webkit-transition: 0.1s all ease-in-out;
  transition: 0.1s all ease-in-out;
  visibility: visible;
}

.toggle::before {
  background: transparent;
  border: 2px solid #111115;
  border-radius: 20px;
  height: inherit;
  width: inherit;
}

.toggle::after {
  background: #111115;
  border-radius: 12px;
  height: 12px;
  width: 20px;
  position: absolute;
  top: 4px;
  left: 4px;
}

.toggle:checked::before {
  background: #111115;
  border: 2px solid #EEE;
}

.toggle:checked::after {
  background: #EEE;
  left: 22.6px;
}

.toggle:checked ~ .bg {
  background: #111115;
}

/*BTN DARK MODE*/
.dark {
  background-color: #343535;
}

.filter_category {
  width: 30vw;
  top: 8em;
}

.container {
  margin-top: 110px !important;
}

.container .h4 {
  color: #8B8E8E;
}

.container .h1 {
  color: #8B8E8E;
}

.container .card {
  border: none;
  outline: none;
  background-color: #fff;
  border-radius: 20px;
  -webkit-box-shadow: 7px 11px 12px -8px rgba(0, 0, 0, 0.75);
          box-shadow: 7px 11px 12px -8px rgba(0, 0, 0, 0.75);
}

.container .card .info {
  line-height: 17px;
}

.container .card .info .discount_text {
  font-size: 1em;
  font-weight: 700;
  color: black;
  margin-top: 2em;
  margin-bottom: 1.5em;
}

.container .card .info .discount_number {
  font-size: 2.5em;
  color: black;
}

.container .card .bi-star-fill {
  color: #fbc02d;
}

.container .card .bi-star-half {
  color: #fbc02d;
}

.container .card .costo span {
  color: #fb3531;
  font-weight: bold;
  font-size: 20px;
}

.container .card .btnProd {
  background: #dc3545;
}

.container .card .btnProd:hover {
  opacity: 0.8;
}

.container .card .cursor {
  cursor: pointer;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.container .card:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

@media (max-width: 750px) {
  .filter_category {
    top: 12em;
    left: 27%;
    width: 45vw;
  }
}

@media (max-width: 375px) {
  .toggle {
    position: absolute;
    top: 30%;
  }
}

.button {
  text-decoration: none;
}

.filter_product {
  margin-left: 1em;
  margin-top: .2em;
  font-size: 1.3rem;
}

@media (max-width: 750px) {
  ul {
    list-style: none;
  }
  ul .submenu {
    position: relative;
  }
  ul .submenu #car {
    display: none;
  }
  ul .submenu #car th {
    padding: 7px;
  }
  ul .submenu #car .delete-product {
    background-color: red;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  ul .submenu:hover #car {
    display: block;
    position: absolute;
    left: -50%;
    top: 100%;
    z-index: 1;
    background-color: white;
    padding: 20px;
    min-height: 400px;
    min-width: 95vw;
  }
}

@media (min-width: 750px) {
  ul {
    list-style: none;
  }
  ul .submenu {
    position: relative;
  }
  ul .submenu #car {
    display: none;
  }
  ul .submenu #car th {
    padding: 10px;
  }
  ul .submenu #car .delete-product {
    background-color: red;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  ul .submenu:hover #car {
    display: block;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 1;
    background-color: white;
    padding: 20px;
    min-height: 400px;
    min-width: 300px;
  }
}

#BtnTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #ff9800;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 15px;
}

#BtnTop::after {
  content: "\22C0";
  font-weight: bold;
  font-style: normal;
  font-size: 1.5em;
  line-height: 0.5em;
  color: #fff;
}

#BtnTop:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #555;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background: #D1D8D5;
}
/*# sourceMappingURL=styles.css.map */