@import "mixins";
@import "main";
@import "header";
@import "footer";

* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #D1D8D5;
}
